<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 必须的 meta 标签 -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap 的 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

	<!--图标库-->
	<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" th:href="@{/css/login1.css}">

	<title>登录页面</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-info sticky-top"  th:replace="/site/setting::nosearch">
		</header>

		<div class="title1"><h1>Sign In Form</h1></div>
		<!-- 内容 -->
		<div class="loginBox">
<!--			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">-->
			<div class="left1"></div>
			<div class="right1">
				<h3 class="text-center text-dark border-bottom pb-1">登&nbsp;&nbsp;录</h3>
				<div class="formbox">
					<form method="post" th:action="@{/login}">
						<div class="form-group row">
							<label for="username">
								<i class="fa fa-user-circle-o" style="font-size: 14px;" aria-hidden="true"></i>
								账号:
							</label>
							<div class="col-sm">
								<input type="text" th:class="|form-control ${usernameMsg!=null?'is-invalid':''}|"
									   th:value="${param.username}"
									   id="username" name="username" placeholder="请输入您的账号!" required style="font-size: 14px">
								<!--/*@thymesVar id="usernameMsg" type=""*/-->
								<div class="invalid-feedback" th:text="${usernameMsg}">
									该账号不存在!
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="password">
								<i class="fa fa-lock" style="font-size: 14px;" aria-hidden="true"></i>
								密码:
							</label>
							<div class="col-sm">
								<input type="password" th:class="|form-control ${passwordMsg!=null?'is-invalid':''}|"
									   th:value="${param.password}"
									   id="password" name="password" placeholder="请输入您的密码!" required style="font-size: 14px">
								<!--/*@thymesVar id="passwordMsg" type=""*/-->
								<div class="invalid-feedback" th:text="${passwordMsg}">
									密码长度不能小于8位!
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="verifycode">验证码:</label>
							<div class="col-sm">
								<input type="text" th:class="|form-control ${codeMsg!=null?'is-invalid':''}|"
									   id="verifycode" name="code" placeholder="请输入验证码!" style="font-size: 14px">
								<div class="invalid-feedback" th:text="${codeMsg}">
									验证码不正确!
								</div>
							</div>
							<div class="col-sm">
								<img th:src="@{/kaptcha}" id="kaptcha" style="width:100px;height:40px;" class="mr-2"/>
								<a href="javascript:refresh_kaptcha();" class="font-size-12 align-bottom">刷新验证码</a>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm">
								<input style="left: auto" type="checkbox" id="remember-me" name="rememberme"
									   th:checked="${param.rememberme}">
								<label class="form-check-label" for="remember-me">记住我</label>
								<a href="forget.html" class="text-danger float-right">忘记密码?</a>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm text-center">
								<button type="submit" class="btn btn-dark text-white form-control">立即登录</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script>
		function refresh_kaptcha() {
			var path = CONTEXT_PATH + "/kaptcha?p=" + Math.random();
			$("#kaptcha").attr("src", path);
		}
	</script>
</body>
</html>
