<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 必须的 meta 标签 -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--访问该页面时，为了防止csrf攻击，生成了csrf令牌-->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<!-- Bootstrap 的 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Latest compiled and minified CSS 下拉列表 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

	<!--图标库-->
	<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<title>我的帖子</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-info sticky-top" th:replace="/site/setting::nosearch">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div id="loadDiv" class="lds-css" style="visibility:hidden">
				<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/profile/${loginUser.id}|}">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{|/user/profile/${loginUser.id}/minepost|}">我的帖子</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{|/user/profile/${loginUser.id}/minereply|}">我的回复</a>
						</li>
					</ul>
					<a th:href="@{|/user/profile/${loginUser.id}|}" class="text-muted position-absolute rt-0">返回个人主页&gt;</a>
				</div>
				<!-- 我的帖子 -->
				<div class="mt-4">
					<h6><b class="square"></b> 发布的帖子(<span th:text="@{${postCount}}">93</span>)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<!--帖子列表-->
						<li class="media media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">


							<!--用户头像-->
							<a th:href="@{|/user/profile/${map.user.id}|}">
								<img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
							</a>

							<div class="media-body">

								<div class="float-right">
									<input type="hidden" id="postId" th:value="${map.post.id}">

									<button type="button" class="fa fa-pencil-square-o btn btn-primary"
											data-toggle="modal" data-target="#updateModal">
										修改
									</button>

									<button type="button" class="fa fa-trash btn btn-danger"
											data-toggle="modal" data-target="#deleteModal">
										删除
									</button>

									<!-- 修改模态框 -->
									<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="updateModalLabel">修改帖子信息</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form>
														<div class="form-group">
															<label for="recipient-name" class="col-form-label">标题：</label>
															<input type="text" class="form-control" id="recipient-name" th:value="${map.post.title}">
														</div>
														<div class="form-group">
															<label for="message-text" class="col-form-label">正文：</label>
															<textarea class="form-control" id="message-text" rows="15" th:value="${map.post.content}"></textarea>
														</div>
														<div class="form-group">
															<!--目前提交的值有问题-->
															<label class="col-form-label">请选择你所需要发布到的板块：</label>
															<select id="province" name="province" class="selectpicker" type="text" data-live-search="true">
															</select>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
													<button type="button" class="btn btn-primary" id="updateBtn1">修改</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 模态框（也就是俗称的弹窗设定）此处用来管理员删除帖子并给邮箱发布相应的删除信息 -->
									<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">删除帖子</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													是否删除此贴？
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal" >取消</button>
													<button type="button" class="btn btn-primary" id="deleteBtn1">确定</button>
												</div>
											</div>
										</div>
									</div>
								</div>
									<h6 class="mt-0 mb-3">
										<a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">
										</a>
										<!--放置模块标识-->
										<span class="badge badge-secondary bg-dark float-left">
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											<a th:text="${map.post.modular}"></a>
										</span>
									</h6>


									<div class="text-muted font-size-12">
										<i class="fa fa-user" aria-hidden="true"></i>
										<u class="mr-3" th:utext="${map.user.username}">
											寒江雪
										</u>
										发布于
										<b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
										<ul class="d-inline float-right">
											<li class="d-inline ml-2">赞 <span th:text="${map.likeCount}">11</span></li>
											<li class="d-inline ml-2">|</li>
											<li class="d-inline ml-2">回帖 <span th:text="${map.post.commentCount}">7</span></li>
										</ul>
									</div>
							</div>
						</li>
					</ul>
				</div>

				<!-- 分页 -->
				<nav class="mt-5" th:if="${page.rows>0}" th:replace="index::pagination">
				</nav>
			</div>
		</div>
	</div>

	<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/discuss.js}"></script>
	<script th:src="@{/js/delDiscussOrCom.js}"></script>
</body>
</html>
