<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <!--图标库-->
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">


    <link rel="stylesheet" th:href="@{/css/global.css}" />

    <title>当前疫情城市</title>
</head>
<body>
<div class="nk-container">
    <header class="bg-info sticky-top" th:replace="index::header">
    </header>

    <div class="main">
        <div class="container" style="background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);">
            <h3 class="text-dark"  th:text="${CVO.title}"></h3>

            <div class="CVO-content">
                    <div class="CVO-City">
                        <div class="CVO-card border-dark" th:each="high_list:${CVO.city.result.high_list}">
                            <a class="text-danger"> 高风险地区：</a>
                            <div class="card-body text-dark" th:if="${high_list == null? '无高风险地区':' '}">
                                <p class="text-danger" th:text="${'疫情地区:' + high_list.area_name}"></p>
                                <p class="text-dark">如下地区为高风险地区：</p>
                                <p class="text-dark text-center" th:each="communitys:${high_list.communitys}" th:text="${ communitys}"></p>
                                </p>
                            </div>
                        </div>


                        <div class="row" style="margin-left: 120px">
                          <div class="CVO-card border-dark" th:each="middle_list:${CVO.city.result.middle_list}">
                              <a class="CVO-alert"> 中风险：</a>
                              <div class="card-body text-dark" th:if="${middle_list == null? '无中风险地区' : ' '}">
                                       <p class="CVO-alert" th:text="${'疫情地区:' + middle_list.area_name}"></p>
                                       <p class="text-dark">如下地区为中风险地区：</p>
                                       <p class="text-dark text-center" th:each="communitys:${middle_list.communitys}" th:text="${ communitys}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>

</div>
</body>

<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


<script th:src="@{/js/global.js}"></script>
</html>