
html {
	height: 100%;
}

body {
	background: #eee;
	font-family: arial, STHeiti, 'Microsoft YaHei', \5b8b\4f53;
	font-size: 14px;
	height: 100%;
}

.nk-container {
	position: relative;
	height: auto;
	min-height: 100%;
}

.container {
	width: 1280px;
	padding: 0;
}

.dropdown:hover>.dropdown-menu{
	display:block;
}

.dropdown>.dropdown-toggle:active{
	pointer-events: none;
}

.weather-banner-header-right {
	margin: 0;
	float: right;
}

.weather-banner-header-left{
	margin: 0;
	float: left;
}

.weather-banner-header{
	height: 50px;
	line-height: 50px;
}

.weather-banner-content{
	margin-top: 45px;
	height: 79px;
}

.CVO-content{
	margin-top: 45px;
	height: auto;
}

.CVO-City{
	display: flex;
	flex-wrap: wrap;
	margin-rihgt: -15px;
}

.CVO-card{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.CVO-alert{
	color: #FFFF00!important;
}

.weather-banner-content-left{
	float: left;
}

.weather-banner-content-city{
	position: relative;
	font-size: 45px;
	line-height: 79px;
	color: #FFFFFF;
}

.weather-banner-content-right{
	margin-top: 45px;
	margin-left: 30px;
	float: left;
}

.weather-banner-forecast{
	position: relative;
	z-index: 999;
	width: 895px;
	height: 250px;
	color: #FFFFFF;
	padding: 10px 16px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgba(0,0,0,.1);
	margin: 0 auto;
}

.weather-5day-content-box{
	position: relative;
	display: inline-block;
	width: 107px;
	height: 200px;
	overflow: hidden;
	margin-left: 55px;
}

.weather-15day-content{
	height: 409px;
}

.weather-day{
	position: relative;
	display: inline-block;
	width: 107px;
	height: 200px;
}

.weather-tips{
	margin-left: 300px;
	margin-top: 20px;
}

header .navbar-brand {
	background: url('http://qra0y3mk9.hn-bkt.clouddn.com/travellogo.jpg') no-repeat;
	background-size: 147px 42px;
	width: 147px;
	height: 42px;
	margin: 5px 15px 5px 0;
}

header .navbar {
	padding: 5px 0;
	font-size: 16px;
}

header .badge {
	position: absolute;
	top: -3px;
	left: 33px;
}

footer {
	padding: 20px 0;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer .qrcode {
	text-align: center;
}

footer .detail-info{
	border-left: 1px solid #888;
}

footer .company-info li {
	padding-left: 16px;
	margin: 4px 0;
}

.main {
	padding: 20px 0;
	padding-bottom: 200px;
}

.main .container {
	background: #fff;
	padding: 20px;
}

i {
	font-style: normal;
}

u {
	text-decoration: none;
}

b {
	font-weight: normal;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-18 {
	font-size: 18px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-22 {
	font-size: 20px;
}
.font-size-24 {
	font-size: 20px;
}

.hidden {
	display: none;
}

.rt-0 {
	right: 0;
	top: 0;
}

.square {
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #ff6547;
	margin-bottom: 2px;
	margin-right: 3px;
}

.bg-gray {
	background: #eff0f2;
}

.user-header {
	width: 50px;
	height: 50px;
}

em {
	font-style: normal;
	color: red;
}
