@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.neon{
    margin-left: 380px;
    padding: 0 20px;
    font-size: 4em;
    color: #FFFFFF;
    text-shadow: 0 0 20px #004080;
}
