<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--访问该页面时，为了防止csrf攻击，生成了csrf令牌-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!--图标库-->
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/publish.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/clock.css}">
    <link rel="stylesheet" th:href="@{/css/backtoTop.css}">
    <link rel="stylesheet" th:href="@{/css/loading1.css}">
    <link rel="stylesheet" th:href="@{/css/fanye.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>SpringBoot旅游论坛首页</title>
</head>
<body>
<div class="scrollTop" onclick="scrollToTop();"></div>

<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:fragment="header">
        <div class="container">
            <!-- 导航 -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- 功能 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-5 btn-group-vertical">
                            <a class="nav-link" th:href="@{/index}">
                                <i class="fa fa-home"aria-hidden="true" style="font-size: 16px"></i>
                                论坛首页
                            </a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <div class="dropdown">
                                <a class="fa fa-globe nav-link dropdown-toggle" href="#" id="modularDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    版块分类
                                </a>
                                <div class="dropdown-menu" aria-labelledby="modularDropDown">
                                    <a class="dropdown-item" th:each="map2:${provinces}" th:text="${map2.province.provinceName}" th:href="@{|/discuss/section/${map2.province.provinceName}|}">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- 搜索 -->
                        <form class="form-inline ml-lg-4" th:action="@{/search}">
                            <input class="form-control mr-sm-2" style="width: 350px;" type="search" aria-label="Search" name="keyword" th:value="${keyword}" placeholder="请输入你要搜索的帖子或帖子的相关内容"/>
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                                <i class="fa fa-search" aria-hidden="true" style="font-size: 16px"></i>
                                搜索
                            </button>
                        </form>
                    </ul>

                    <ul class="navbar-nav mr-md-5">
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser != null}">
                            <a class="nav-link position-relative" th:href="@{/letter/list}">
                                <i class="fa fa-comments-o" aria-hidden="true" style="font-size: 16px"></i>
                                消息
                                <span class="badge badge-danger ml-4" th:text="${allUnreadCount!=0?allUnreadCount:''}">
                                 12
                                </span>
                            </a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/report/cityId/101280101}">
                                <i class="fa fa-sun-o" aria-hidden="true"></i>
                                天气预报
                            </a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser == null}">
                            <a class="nav-link" th:href="@{/register}">注册</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser == null}">
                            <a class="nav-link" th:href="@{/login}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                登录
                            </a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    个人主页
                                </a>
                                <a class="dropdown-item text-center" th:href="@{/showUser}" sec:authorize="hasAnyAuthority('admin')">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    后台管理
                                </a>
                                <a class="dropdown-item text-center" th:href="@{/data}" sec:authorize="hasAnyAuthority('admin')">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    网站数据统计
                                </a>
                                <a class="dropdown-item text-center" th:href="@{/user/setting}">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    账号设置
                                </a>
                                <a class="dropdown-item text-center" th:href="@{/logout}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    退出登录
                                </a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">DJ</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- 内容 -->
    <div class="main">
        <div id="loadDiv" class="lds-css" style="visibility:hidden">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
        <div class="container">
            <div class="glowing">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="glowing">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="glowing">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="glowing">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="row">
            <!-- 左边部分-->
            <div class="col-sm-9">
            <!--轮播图片-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!--指示符-->
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <!--轮播图片-->
                <div class="carousel-inner">
                    <!--此处的轮播间隔为data-interval，单位为毫秒,并会自动跳转回到第一张图-->
                    <div class="carousel-item active" data-interval="5000">
                        <img src="https://travelfourm.oss-cn-shenzhen.aliyuncs.com/test1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="https://travelfourm.oss-cn-shenzhen.aliyuncs.com/test2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <img src="https://travelfourm.oss-cn-shenzhen.aliyuncs.com/test4.jpg" class="d-block w-100">
                    </div>
                </div>

                <!--左右切换按钮-->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br><br>
            <div class="position-relative">
                <!-- 筛选条件 -->
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a th:class="|nav-link ${orderMode==0?'active':''}|" th:href="@{/index(orderMode=0)}">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            最新
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="|nav-link ${orderMode==1?'active':''}|" th:href="@{/index(orderMode=1)}">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            最热
                        </a>
                    </li>
                </ul>

<!--                <button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal" data-target="#publishModal" th:if="${loginUser!=null}">我要发布</button>-->
                <button class="corner-button position-absolute rt-0" data-toggle="modal" data-target="#publishModal" th:if="${loginUser!=null}">
                    <span>我要发布</span>
                </button>

            </div>

            <!-- 弹出框发布帖子的输入框 -->
            <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="publishModalLabel">新帖发布</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">标题：</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">正文：</label>
                                    <textarea class="form-control" id="message-text" rows="15"></textarea>
                                </div>
                                <div class="form-group">
                                    <!--目前提交的值有问题-->
                                    <label for="message-text" class="col-form-label">请选择你所需要发布到的板块：</label>
                                    <select id="province" name="province" class="selectpicker" type="text" data-live-search="true" >
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="publishBtn">发布</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 提示框 -->
            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hintModalLabel">提示</h5>
                        </div>
                        <div class="modal-body" id="hintBody">
                            发布完毕!
                        </div>
                    </div>
                </div>
            </div>

            <!-- 帖子列表 -->
            <ul class="list-unstyled">
                <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">
                    <a th:href="@{|/user/profile/${map.user.id}|}">
                        <img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
                    </a>
                    <div class="media-body">
                        <h6 class="mt-0 mb-3">
                            <span class="badge badge-secondary bg-primary" th:if="${map.post.type==1}">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                置顶
                            </span>
                            <span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                精华
                            </span>
                            <!--标题放置顶和精华的后面-->
                            <a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>

                            <!--放置模块标识-->
                            <span class="badge badge-secondary bg-dark float-right">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <a th:text="${map.post.modular}"></a>
                            </span>
                        </h6>


                        <div class="text-muted font-size-14">
                            <!--用户图标-->
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <u class="mr-3" th:utext="${map.user.username}">
                                寒江雪
                            </u>
                            发布于
                            <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                            <ul class="d-inline float-right">
                                <li class="d-inline ml-2">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    赞
                                    <span th:text="${map.likeCount}">
                                    </span>
                                </li>
                                <li class="d-inline ml-2">|</li>
                                <li class="d-inline ml-2">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    回帖
                                    <span th:text="${map.post.commentCount}">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- 分页 -->
            <nav class="mt-5" th:if="${page.rows>0}" th:fragment="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                    </li>

                    <li th:class="|page-item ${page.current==1?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>

                    <li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from,page.to)}">
                        <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
                    </li>

                    <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                        <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                    </li>
                </ul>
            </nav>
            </div>

                <!--右边部分-->
                <div class="col-sm-3">
                    <!--时钟部分-->
                    <div id="clock">
                        <h2>This time is now</h2>
                        <div id="time">
                            <div><span id="hour">00</span><span>Hours</span></div>
                            <div><span id="minutes">00</span><span>Minutes</span></div>
                            <div><span id="seconds">00</span><span>Seconds</span></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function clock() {
                            var hours = document.getElementById('hour');
                            var minutes = document.getElementById('minutes');
                            var seconds = document.getElementById('seconds');

                            var h = new Date().getHours();
                            var m = new Date().getMinutes();
                            var s = new Date().getSeconds();

                            hours.innerHTML = h;
                            minutes.innerHTML = m;
                            seconds.innerHTML = s;
                        }
                        var interval = setInterval(clock,1000);
                    </script>

                    <!-- 用户活跃列表 -->
                    <div class="card bg-light" style="width: auto;margin-top: 120px">
                            <p class="text-center">活跃用户排行</p>
                        <li class="media pb-2 pt-2 mb-2" th:each="map1:${discussPosts1}">
                            <a style="margin-left: 50px;" th:href="@{|/user/profile/${map1.user.id}|}" >
                                <img th:src="${map1.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width: 40px;height:40px;margin-left: 10px">
                            </a>
                            <a style="margin-top: 8px" th:text="${map1.user.username}">测试</a>
                        </li>
                    </div>


                    <!-- 疫情出行指南 -->
                    <div class="card" style="margin-top: 105px;width: auto;">
                        <!-- 标题 -->
                        <div class="text-center">
                            <a class="text1">疫情出行指南</a>
                            <div class="row">
<!--                                <a class="text-info" style="margin-left: 70px" th:href="@{/CVO/city}">查看当前疫情城市</a>-->
<!--                                <a class="text-info" style="margin-left: 70px" th:href="@{/queryCVO}">查询核酸检测机构</a>-->
                                <a class="buttontest" style="margin-top:20px;margin-left: 50px" th:href="@{/CVO/city}">
                                    <span>查看当前疫情城市</span>
                                </a>
                                <a class="buttontest" style="margin-top: 60px;margin-left: 50px" th:href="@{/CVO/hsjc/10028}">
                                    <span>查询核酸检测机构</span>
                                </a>
<!--                                <a class="buttontest" style="margin-top: 60px; margin-left: 50px" href="#">-->
<!--                                    <span>查询出行防疫政策</span>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </footer>
</div>
<!-- JavaScript 文件是可选的。从以下两种建议中选择一个即可！ -->
<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- 选项 2：Popper 和 Bootstrap 的 JS 插件各自独立 -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-gRC4eoaRyQ8xv2X6Mnf+eOIrtON3wId3dAkwO0HQX26OrFBoLpjX/XWOJacSiZhL" crossorigin="anonymous"></script>
-->

<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/backToTop.js}"></script>
</body>
</html>