<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <!--引入layui-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <title>用户信息</title>
</head>
<body  class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">论坛信息管理后台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    操作
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/index}">
                            <i class="fa fa-home"aria-hidden="true"></i>
                            返回论坛
                        </a>
                    </dd>
                    <dd>
                        <a th:href="@{/logout}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            退出登录
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side">
        <div class="layui-side-scroll layui-bg-black">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">论坛信息模块</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/showLayui}">用户信息</a></dd>
                        <dd><a href="">帖子信息</a></dd>
                        <dd><a href="">评论信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table id="demo" lay-filter="test"></table>
    </div>

</div>

<script>
        layui.use('table',function () {
            var table=layui.table;

            //第一个实例
             table.render({
                elem: '#demo'
                ,height: 350
                ,url: 'showAllUser' //数据接口
                ,page: true //开启分页
                ,limits:[5,10,15,20,25,30]
                ,toolbar: '#mytoolbar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                ,cols: [
                    [ //表头
                        {field: 'id', title: '用户编号', width:80, sort: true, fixed: 'left',checkbox: true}
                        ,{field: 'id', title: '用户编号', width:120, sort: true, fixed: 'left'}
                        ,{field: 'username', title: '用户名', width:120}
                        ,{field: 'password', title: '密码', width:200, sort: true}
                        ,{field: 'email', title: '邮箱' , width:200}
                    ]]
            });
        });
</script>
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>