<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <!--引入layui-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <!--图标库-->
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">

    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.2/echarts.common.js"></script>

    <title>论坛后台管理</title>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">论坛信息管理后台</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        操作
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a th:href="@{/index}">
                                <i class="fa fa-home"aria-hidden="true"></i>
                                返回论坛
                            </a>
                        </dd>
                        <dd>
                            <a th:href="@{/logout}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                退出登录
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side">
            <div class="layui-side-scroll layui-bg-black">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">论坛信息模块</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/user/showLayui}">用户信息</a></dd>
                            <dd><a th:href="@{/discuss/showLayui1}">帖子信息</a></dd>
                            <dd><a th:href="@{/comment/showLayui2}">评论信息</a></dd>
                            <dd><a th:href="@{/showLayui3}">板块信息</a> </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
<!--            <h5>您好，欢迎您管理员！</h5>-->
            <div id="main" style="width: 600px;height:400px;"></div>

        </div>
    </div>

    <script th:src="@{/js/backupGlobal.js}"></script>
    <script type="text/javascript">
        // 初始化ECharts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        myChart.setOption({
            title: {
                trigger: 'axis',
                text: '旅游论坛网站数据统计'
            },
            tooltip: {},
            legend: {
                data:['数量']
            },
            xAxis: {
                type: 'category',
                data: ['用户','帖子','评论','版块']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '数量',
                type: 'bar',
                barwidth: '60%',
                data: []
            }]
        });

        //加载时显示loading动画
        myChart.showLoading();

        // 利用ajax从后台给数组存值
        $.get('http://localhost:8080/travelfourm/echarts').done(function (data) {
            console.log(data);

            myChart.hideLoading();
            myChart.setOption({
                series: [{
                    data:data
                }]
            });
        });
    </script>

    <!--引入ECharts来统计数据-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
</body>
</html>