<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <!--访问该页面时，为了防止csrf攻击，生成了csrf令牌-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!--引入layui-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <!--图标库-->
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">

    <title>帖子管理</title>
</head>
<body  class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">论坛信息管理后台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    操作
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/index}">
                            <i class="fa fa-home"aria-hidden="true"></i>
                            返回论坛
                        </a>
                    </dd>
                    <dd>
                        <a th:href="@{/logout}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            退出登录
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side">
        <div class="layui-side-scroll layui-bg-black">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">论坛信息模块</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/showLayui}">用户信息</a></dd>
                        <dd><a th:href="@{/discuss/showLayui1}">帖子信息</a></dd>
                        <dd><a th:href="@{/comment/showLayui2}">评论信息</a></dd>
                        <dd><a th:href="@{/showLayui3}">板块信息</a> </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>


    <div class="layui-body" style="height: auto">
        <!-- 内容主体区域 -->
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
        </script>
    </div>

        <form class="layui-form" action="" id="discussPostEditForm" style="display: none">

            <!--帖子编号-->
            <input type="hidden" id="id" name="id">
            <input type="hidden" id="userId" name="userId">
            <input type="hidden" id="type" name="type">
            <input type="hidden" id="createTime" name="createTime">
            <input type="hidden" id="commentCount" name="commentCount">
            <input type="hidden" id="score" name="score">
            <input type="hidden" id="modular" name="modular">
            <!--帖子名称-->
            <div class="layui-form-item">
                <label class="layui-form-label">帖子名称</label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" required  lay-verify="required" autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>

            <!--内容-->
            <div class="layui-form-item">
                <label class="layui-form-label">帖子内容</label>
                <div class="layui-input-block">
                    <input type="text" id="content" name="content" required  lay-verify="required" autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>

            <!--状态-->
            <div class="layui-form-item">
                <label class="layui-form-label">帖子状态</label>
                <div class="layui-input-block">
                    <select id="status" name="status">
                        <option value=""></option>
                        <option value="0">正常</option>
                        <option value="1">精华</option>
                        <option value="2">拉黑</option>
                    </select>
                    <script type="text/html" id="showStatus">
                        {{#  if(d.status == 0){ }}
                        <span class="layui-badge layui-bg-green">正常</span>
                        {{# } else if(d.status == 2){ }}
                        <span class="layui-badge layui-bg-black">拉黑</span>
                        {{# } else{ }}
                        <span class="layui-badge layui-bg-orange">精华</span>
                        {{#} }}
                    </script>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button"  	class="layui-btn layui-btn-normal" lay-submit lay-filter="editDiscussPostForm">修改</button>
                    <button type="reset"  	class="layui-btn layui-btn-warm">重置</button>
                </div>
            </div>
        </form>
    </div>


<script>

    //发送AJAX请求时，将csrf令牌设置到请求的消息头中
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e,xhr,options) {
        xhr.setRequestHeader(header,token);
    })

    layui.use('table',function () {
        var table=layui.table;
        var form = layui.form;

        var myTable = table.render({
            elem: '#demo'
            ,height: 350
            ,url: 'showAllDiscussPost' //数据接口
            ,page: true //开启分页
            ,limits:[5,10,15,20,25,30]
            ,toolbar: '#mytoolbar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [
                [ //表头
                    {field: 'id', title: '帖子编号', width:80, sort: true, fixed: 'left',checkbox: true}
                    ,{field: 'id', title: '帖子编号', width:120, sort: true, fixed: 'left'}
                    ,{field: 'userId',title:'帖子发起人',hide:true}
                    ,{field: 'modular',title: '所属板块',width:120,templet:function (data) {
                        if (data.modular == null || data.modular == 0)
                            return '暂未分板块'
                        else
                            return data.modular
                    }}
                    ,{field: 'title', title: '标题', width:200}
                    ,{field: 'content', title: '内容' , width:200}
                    ,{field: 'status', title:'帖子状态',width:200,templet:"#showStatus"}
                    ,{field: 'commentCount', title: '评论总数',width:120 , sort:true}
                    ,{field: 'createTime', title: '创建时间', width:200, sort: true,
                    templet:"<div>{{layui.util.toDateString(d.createTime,'yyyy-MM-dd HH:mm:ss')}}</div>"}
                    ,{field: 'score', title: '帖子积分', width:120,sort:true}
                    ,{title: '操作',width:200 , toolbar:'#barDemo'}
                ]]
        });

        form.on('submit(editDiscussPostForm)', function(data){
            //数据的提交，ajax方式
            console.log(data.field)
            $.ajax({
                url: '/travelfourm/discuss/updateStatusTo0',//地址
                dataType: 'json',//数据类型
                type: 'POST',//类型
                data:data.field,
                //请求成功
                success: function (result) {
                    if(result.code==0){
                        //关闭弹出层
                        layer.closeAll();
                        //显示添加成功消息
                        layer.msg(result.message,{icon:1})
                        //重新加载数据表格
                        myTable.reload();
                    }else
                    {
                        //关闭弹出层
                        layer.closeAll();
                        layer.msg(result.message,{icon:5})
                    }
                }
            });
            return false;
        });

        table.on('tool(test)',function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data,
                layEvent = obj.event,
                tr = obj.tr;
                date = new Date(data.createTime);

            if (layEvent === 'detail'){
                layer.msg('查看操作');
            }else if (layEvent === 'edit'){
                layer.msg('编辑操作');

                //填充用户表单选项
                //此处为自动填入栏内的信息，用的是id匹配
                console.log(data);
                $("#id").val(data.id);
                $("#userId").val(data.userId);
                $("#title").val(data.title);
                $("#content").val(data.content);
                $("#type").val(data.type);
                $("#status").val(data.status);
                $("#createTime").val(date);
                $("#commentCount").val(data.commentCount);
                $("#score").val(data.score);
                $("#modular").val(data.modular);

                layer.open({
                    type:1,
                    content:$("#discussPostEditForm"),
                    icon:1,
                    title:"修改帖子状态",
                    maxmin:true,
                    area:['500px','300px']
                })
            }
        });
    });
</script>
<script th:src="@{/js/backupGlobal.js}"></script>
</body>
</html>